body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:793px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2043 {
  position:absolute;
  left:149px;
  top:19px;
  width:1px;
  height:200px;
}
#u2044 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2045 {
  position:absolute;
  left:496px;
  top:19px;
  width:1px;
  height:200px;
}
#u2046 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2047 {
  position:absolute;
  left:51px;
  top:31px;
  width:52px;
  height:17px;
}
#u2048 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2049 {
  position:absolute;
  left:178px;
  top:29px;
  width:99px;
  height:17px;
}
#u2050 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2051 {
  position:absolute;
  left:353px;
  top:28px;
  width:99px;
  height:17px;
}
#u2052 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2053 {
  position:absolute;
  left:27px;
  top:69px;
  width:112px;
  height:60px;
}
#u2054 {
  position:absolute;
  left:2px;
  top:14px;
  width:108px;
  word-wrap:break-word;
}
#u2055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2055 {
  position:absolute;
  left:357px;
  top:70px;
  width:100px;
  height:60px;
}
#u2056 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2057 {
  position:absolute;
  left:190px;
  top:100px;
  width:0px;
  height:0px;
}
#u2057_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:4px;
}
#u2057_seg1 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u2057_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u2058 {
  position:absolute;
  left:-50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2059 {
  position:absolute;
  left:290px;
  top:100px;
  width:0px;
  height:0px;
}
#u2059_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u2059_seg1 {
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2060 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2061 {
  position:absolute;
  left:139px;
  top:99px;
  width:0px;
  height:0px;
}
#u2061_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u2061_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:55px;
  height:8px;
}
#u2062 {
  position:absolute;
  left:-25px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063 {
  position:absolute;
  left:139px;
  top:99px;
  width:0px;
  height:0px;
}
#u2063_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u2063_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:55px;
  height:8px;
}
#u2063_seg2 {
  position:absolute;
  left:38px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2064 {
  position:absolute;
  left:-25px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2065 {
  position:absolute;
  left:189px;
  top:70px;
  width:100px;
  height:60px;
}
#u2066 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2067 {
  position:absolute;
  left:329px;
  top:19px;
  width:1px;
  height:200px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2069 {
  position:absolute;
  left:142px;
  top:261px;
  width:1px;
  height:200px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2071 {
  position:absolute;
  left:301px;
  top:261px;
  width:1px;
  height:200px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2073 {
  position:absolute;
  left:489px;
  top:261px;
  width:1px;
  height:200px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2075 {
  position:absolute;
  left:44px;
  top:273px;
  width:52px;
  height:17px;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2077 {
  position:absolute;
  left:188px;
  top:273px;
  width:80px;
  height:17px;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2079 {
  position:absolute;
  left:540px;
  top:273px;
  width:99px;
  height:17px;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2081 {
  position:absolute;
  left:342px;
  top:273px;
  width:99px;
  height:17px;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2083 {
  position:absolute;
  left:20px;
  top:311px;
  width:112px;
  height:60px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:22px;
  width:108px;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2085 {
  position:absolute;
  left:183px;
  top:312px;
  width:100px;
  height:60px;
}
#u2086 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2087 {
  position:absolute;
  left:350px;
  top:312px;
  width:100px;
  height:60px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2089 {
  position:absolute;
  left:183px;
  top:342px;
  width:0px;
  height:0px;
}
#u2089_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:4px;
}
#u2089_seg1 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u2089_seg2 {
  position:absolute;
  left:-10px;
  top:-13px;
  width:20px;
  height:20px;
}
#u2090 {
  position:absolute;
  left:-50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091 {
  position:absolute;
  left:283px;
  top:342px;
  width:0px;
  height:0px;
}
#u2091_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u2091_seg1 {
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2092 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2093 {
  position:absolute;
  left:132px;
  top:341px;
  width:0px;
  height:0px;
}
#u2093_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u2093_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:55px;
  height:8px;
}
#u2094 {
  position:absolute;
  left:-25px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2095 {
  position:absolute;
  left:132px;
  top:341px;
  width:0px;
  height:0px;
}
#u2095_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u2095_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:55px;
  height:8px;
}
#u2095_seg2 {
  position:absolute;
  left:38px;
  top:-9px;
  width:20px;
  height:20px;
}
#u2096 {
  position:absolute;
  left:-25px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2097 {
  position:absolute;
  left:539px;
  top:312px;
  width:100px;
  height:60px;
}
#u2098 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2099 {
  position:absolute;
  left:450px;
  top:342px;
  width:0px;
  height:0px;
}
#u2099_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u2099_seg1 {
  position:absolute;
  left:76px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2100 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2101 {
  position:absolute;
  left:589px;
  top:372px;
  width:0px;
  height:0px;
}
#u2101_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u2101_seg1 {
  position:absolute;
  left:-517px;
  top:43px;
  width:521px;
  height:8px;
}
#u2101_seg2 {
  position:absolute;
  left:-517px;
  top:-1px;
  width:8px;
  height:52px;
}
#u2101_seg3 {
  position:absolute;
  left:-523px;
  top:-8px;
  width:20px;
  height:20px;
}
#u2102 {
  position:absolute;
  left:-307px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2103 {
  position:absolute;
  left:677px;
  top:261px;
  width:1px;
  height:200px;
}
#u2104 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2105 {
  position:absolute;
  left:721px;
  top:273px;
  width:43px;
  height:17px;
}
#u2106 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2107 {
  position:absolute;
  left:693px;
  top:312px;
  width:100px;
  height:60px;
}
#u2108 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2109 {
  position:absolute;
  left:743px;
  top:372px;
  width:0px;
  height:0px;
}
#u2109_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u2109_seg1 {
  position:absolute;
  left:-347px;
  top:21px;
  width:351px;
  height:8px;
}
#u2109_seg2 {
  position:absolute;
  left:-347px;
  top:0px;
  width:8px;
  height:29px;
}
#u2109_seg3 {
  position:absolute;
  left:-353px;
  top:-7px;
  width:20px;
  height:20px;
}
#u2110 {
  position:absolute;
  left:-222px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2111 {
  position:absolute;
  left:142px;
  top:517px;
  width:1px;
  height:200px;
}
#u2112 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2113 {
  position:absolute;
  left:301px;
  top:517px;
  width:1px;
  height:200px;
}
#u2114 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2115 {
  position:absolute;
  left:489px;
  top:517px;
  width:1px;
  height:200px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2117 {
  position:absolute;
  left:44px;
  top:529px;
  width:52px;
  height:17px;
}
#u2118 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2119_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2119 {
  position:absolute;
  left:188px;
  top:529px;
  width:80px;
  height:17px;
}
#u2120 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2121 {
  position:absolute;
  left:540px;
  top:529px;
  width:99px;
  height:17px;
}
#u2122 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2123 {
  position:absolute;
  left:342px;
  top:529px;
  width:99px;
  height:17px;
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2125 {
  position:absolute;
  left:20px;
  top:567px;
  width:112px;
  height:60px;
}
#u2126 {
  position:absolute;
  left:2px;
  top:22px;
  width:108px;
  word-wrap:break-word;
}
#u2127_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2127 {
  position:absolute;
  left:183px;
  top:568px;
  width:100px;
  height:60px;
}
#u2128 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2129 {
  position:absolute;
  left:350px;
  top:568px;
  width:100px;
  height:60px;
}
#u2130 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2131 {
  position:absolute;
  left:183px;
  top:598px;
  width:0px;
  height:0px;
}
#u2131_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:4px;
}
#u2131_seg1 {
  position:absolute;
  left:-11px;
  top:-14px;
  width:21px;
  height:21px;
}
#u2131_seg2 {
  position:absolute;
  left:-11px;
  top:-14px;
  width:21px;
  height:21px;
}
#u2132 {
  position:absolute;
  left:-50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2133 {
  position:absolute;
  left:283px;
  top:598px;
  width:0px;
  height:0px;
}
#u2133_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u2133_seg1 {
  position:absolute;
  left:53px;
  top:-11px;
  width:21px;
  height:21px;
}
#u2134 {
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135 {
  position:absolute;
  left:132px;
  top:597px;
  width:0px;
  height:0px;
}
#u2135_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u2135_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:55px;
  height:8px;
}
#u2136 {
  position:absolute;
  left:-25px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2137 {
  position:absolute;
  left:132px;
  top:597px;
  width:0px;
  height:0px;
}
#u2137_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u2137_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:55px;
  height:8px;
}
#u2137_seg2 {
  position:absolute;
  left:37px;
  top:-10px;
  width:21px;
  height:21px;
}
#u2138 {
  position:absolute;
  left:-25px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2139 {
  position:absolute;
  left:539px;
  top:568px;
  width:100px;
  height:60px;
}
#u2140 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2141 {
  position:absolute;
  left:450px;
  top:598px;
  width:0px;
  height:0px;
}
#u2141_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:93px;
  height:8px;
}
#u2141_seg1 {
  position:absolute;
  left:76px;
  top:-11px;
  width:20px;
  height:21px;
}
#u2142 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2143 {
  position:absolute;
  left:589px;
  top:628px;
  width:0px;
  height:0px;
}
#u2143_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u2143_seg1 {
  position:absolute;
  left:-517px;
  top:43px;
  width:521px;
  height:8px;
}
#u2143_seg2 {
  position:absolute;
  left:-517px;
  top:-1px;
  width:8px;
  height:52px;
}
#u2143_seg3 {
  position:absolute;
  left:-524px;
  top:-9px;
  width:21px;
  height:21px;
}
#u2144 {
  position:absolute;
  left:-307px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2145 {
  position:absolute;
  left:677px;
  top:517px;
  width:1px;
  height:200px;
}
#u2146 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2147 {
  position:absolute;
  left:721px;
  top:529px;
  width:43px;
  height:17px;
}
#u2148 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2149 {
  position:absolute;
  left:693px;
  top:568px;
  width:100px;
  height:60px;
}
#u2150 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2151 {
  position:absolute;
  left:743px;
  top:628px;
  width:0px;
  height:0px;
}
#u2151_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:29px;
}
#u2151_seg1 {
  position:absolute;
  left:-347px;
  top:21px;
  width:351px;
  height:8px;
}
#u2151_seg2 {
  position:absolute;
  left:-347px;
  top:0px;
  width:8px;
  height:29px;
}
#u2151_seg3 {
  position:absolute;
  left:-354px;
  top:-8px;
  width:21px;
  height:21px;
}
#u2152 {
  position:absolute;
  left:-222px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2153 {
  position:absolute;
  left:8px;
  top:4px;
  width:85px;
  height:17px;
}
#u2154 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2155 {
  position:absolute;
  left:11px;
  top:233px;
  width:85px;
  height:17px;
}
#u2156 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2157 {
  position:absolute;
  left:21px;
  top:462px;
  width:85px;
  height:21px;
}
#u2158 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2159 {
  position:absolute;
  left:142px;
  top:812px;
  width:1px;
  height:200px;
}
#u2160 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2161 {
  position:absolute;
  left:301px;
  top:812px;
  width:1px;
  height:200px;
}
#u2162 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2163 {
  position:absolute;
  left:489px;
  top:812px;
  width:1px;
  height:200px;
}
#u2164 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2165 {
  position:absolute;
  left:44px;
  top:824px;
  width:52px;
  height:17px;
}
#u2166 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2167 {
  position:absolute;
  left:188px;
  top:824px;
  width:80px;
  height:17px;
}
#u2168 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u2169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2169 {
  position:absolute;
  left:540px;
  top:824px;
  width:99px;
  height:17px;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2171 {
  position:absolute;
  left:342px;
  top:824px;
  width:99px;
  height:17px;
}
#u2172 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2173 {
  position:absolute;
  left:20px;
  top:862px;
  width:112px;
  height:60px;
}
#u2174 {
  position:absolute;
  left:2px;
  top:22px;
  width:108px;
  word-wrap:break-word;
}
#u2175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2175 {
  position:absolute;
  left:183px;
  top:863px;
  width:100px;
  height:60px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2177 {
  position:absolute;
  left:350px;
  top:863px;
  width:100px;
  height:60px;
}
#u2178 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2179 {
  position:absolute;
  left:183px;
  top:893px;
  width:0px;
  height:0px;
}
#u2179_seg0 {
  position:absolute;
  left:-5px;
  top:0px;
  width:8px;
  height:4px;
}
#u2179_seg1 {
  position:absolute;
  left:-11px;
  top:-13px;
  width:21px;
  height:21px;
}
#u2179_seg2 {
  position:absolute;
  left:-11px;
  top:-13px;
  width:21px;
  height:21px;
}
#u2180 {
  position:absolute;
  left:-51px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181 {
  position:absolute;
  left:283px;
  top:893px;
  width:0px;
  height:0px;
}
#u2181_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u2181_seg1 {
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2182 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2183 {
  position:absolute;
  left:132px;
  top:892px;
  width:0px;
  height:0px;
}
#u2183_seg0 {
  position:absolute;
  left:-5px;
  top:0px;
  width:8px;
  height:5px;
}
#u2183_seg1 {
  position:absolute;
  left:-5px;
  top:-3px;
  width:55px;
  height:8px;
}
#u2184 {
  position:absolute;
  left:-26px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2185 {
  position:absolute;
  left:132px;
  top:892px;
  width:0px;
  height:0px;
}
#u2185_seg0 {
  position:absolute;
  left:-5px;
  top:0px;
  width:8px;
  height:5px;
}
#u2185_seg1 {
  position:absolute;
  left:-5px;
  top:-3px;
  width:55px;
  height:8px;
}
#u2185_seg2 {
  position:absolute;
  left:37px;
  top:-9px;
  width:21px;
  height:21px;
}
#u2186 {
  position:absolute;
  left:-26px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2187_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2187 {
  position:absolute;
  left:539px;
  top:863px;
  width:100px;
  height:60px;
}
#u2188 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u2189 {
  position:absolute;
  left:450px;
  top:893px;
  width:0px;
  height:0px;
}
#u2189_seg0 {
  position:absolute;
  left:-1px;
  top:-4px;
  width:93px;
  height:8px;
}
#u2189_seg1 {
  position:absolute;
  left:75px;
  top:-10px;
  width:21px;
  height:21px;
}
#u2190 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2191 {
  position:absolute;
  left:589px;
  top:923px;
  width:0px;
  height:0px;
}
#u2191_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u2191_seg1 {
  position:absolute;
  left:-517px;
  top:34px;
  width:521px;
  height:8px;
}
#u2191_seg2 {
  position:absolute;
  left:-517px;
  top:-1px;
  width:8px;
  height:43px;
}
#u2191_seg3 {
  position:absolute;
  left:-523px;
  top:-8px;
  width:20px;
  height:20px;
}
#u2192 {
  position:absolute;
  left:-307px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
