body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:794px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2193_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2193 {
  position:absolute;
  left:143px;
  top:12px;
  width:1px;
  height:200px;
}
#u2194 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2195 {
  position:absolute;
  left:302px;
  top:12px;
  width:1px;
  height:200px;
}
#u2196 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2197_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2197 {
  position:absolute;
  left:490px;
  top:12px;
  width:1px;
  height:200px;
}
#u2198 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2199 {
  position:absolute;
  left:45px;
  top:24px;
  width:52px;
  height:17px;
}
#u2200 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2201 {
  position:absolute;
  left:189px;
  top:24px;
  width:80px;
  height:17px;
}
#u2202 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u2203_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2203 {
  position:absolute;
  left:541px;
  top:24px;
  width:99px;
  height:17px;
}
#u2204 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2205 {
  position:absolute;
  left:343px;
  top:24px;
  width:99px;
  height:17px;
}
#u2206 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2207_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2207 {
  position:absolute;
  left:21px;
  top:62px;
  width:112px;
  height:60px;
}
#u2208 {
  position:absolute;
  left:2px;
  top:22px;
  width:108px;
  word-wrap:break-word;
}
#u2209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2209 {
  position:absolute;
  left:184px;
  top:63px;
  width:100px;
  height:60px;
}
#u2210 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2211 {
  position:absolute;
  left:351px;
  top:63px;
  width:100px;
  height:60px;
}
#u2212 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2213 {
  position:absolute;
  left:184px;
  top:93px;
  width:0px;
  height:0px;
}
#u2213_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:4px;
}
#u2213_seg1 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:21px;
  height:21px;
}
#u2213_seg2 {
  position:absolute;
  left:-10px;
  top:-14px;
  width:21px;
  height:21px;
}
#u2214 {
  position:absolute;
  left:-50px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2215 {
  position:absolute;
  left:284px;
  top:93px;
  width:0px;
  height:0px;
}
#u2215_seg0 {
  position:absolute;
  left:0px;
  top:-5px;
  width:71px;
  height:8px;
}
#u2215_seg1 {
  position:absolute;
  left:54px;
  top:-11px;
  width:21px;
  height:21px;
}
#u2216 {
  position:absolute;
  left:-16px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2217 {
  position:absolute;
  left:133px;
  top:92px;
  width:0px;
  height:0px;
}
#u2217_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:5px;
}
#u2217_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:55px;
  height:8px;
}
#u2218 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2219 {
  position:absolute;
  left:133px;
  top:92px;
  width:0px;
  height:0px;
}
#u2219_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:5px;
}
#u2219_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:55px;
  height:8px;
}
#u2219_seg2 {
  position:absolute;
  left:38px;
  top:-10px;
  width:21px;
  height:21px;
}
#u2220 {
  position:absolute;
  left:-25px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2221 {
  position:absolute;
  left:540px;
  top:63px;
  width:100px;
  height:60px;
}
#u2222 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2223 {
  position:absolute;
  left:451px;
  top:93px;
  width:0px;
  height:0px;
}
#u2223_seg0 {
  position:absolute;
  left:0px;
  top:-5px;
  width:93px;
  height:8px;
}
#u2223_seg1 {
  position:absolute;
  left:76px;
  top:-11px;
  width:21px;
  height:21px;
}
#u2224 {
  position:absolute;
  left:-5px;
  top:-9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:201px;
}
#u2225 {
  position:absolute;
  left:678px;
  top:12px;
  width:1px;
  height:200px;
}
#u2226 {
  position:absolute;
  left:2px;
  top:92px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2227 {
  position:absolute;
  left:722px;
  top:24px;
  width:43px;
  height:17px;
}
#u2228 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2229 {
  position:absolute;
  left:694px;
  top:63px;
  width:100px;
  height:60px;
}
#u2230 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u2231 {
  position:absolute;
  left:640px;
  top:93px;
  width:0px;
  height:0px;
}
#u2231_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u2231_seg1 {
  position:absolute;
  left:41px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2232 {
  position:absolute;
  left:-23px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
