body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9664_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9664 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
}
#u9665 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9666 {
  position:absolute;
  left:118px;
  top:13px;
  width:123px;
  height:25px;
}
#u9666_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u9667 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u9668 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9669 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u9670 {
  position:absolute;
  left:0px;
  top:76px;
  width:359px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u9671 {
  position:absolute;
  left:18px;
  top:12px;
  width:323px;
  word-wrap:break-word;
}
#u9672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9672 {
  position:absolute;
  left:118px;
  top:357px;
  width:140px;
  height:40px;
}
#u9673 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u9674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
}
#u9674 {
  position:absolute;
  left:148px;
  top:103px;
  width:52px;
  height:51px;
}
#u9675 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:51px;
}
#u9676 {
  position:absolute;
  left:148px;
  top:249px;
  width:52px;
  height:51px;
}
#u9677 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9678 {
  position:absolute;
  left:192px;
  top:249px;
  width:100px;
  height:16px;
}
#u9679 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9678_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9680 {
  position:absolute;
  left:192px;
  top:98px;
  width:100px;
  height:16px;
}
#u9681 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9680_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u9682 {
  position:absolute;
  left:149px;
  top:164px;
  width:123px;
  height:25px;
}
#u9682_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9683 {
  position:absolute;
  left:148px;
  top:310px;
  width:123px;
  height:25px;
}
#u9683_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
