body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10750 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
}
#u10751 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10752 {
  position:absolute;
  left:136px;
  top:13px;
  width:73px;
  height:25px;
}
#u10752_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10753_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u10753 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u10754 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10755 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10756 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10757_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10757 {
  position:absolute;
  left:1px;
  top:55px;
  width:359px;
  height:45px;
}
#u10758 {
  position:absolute;
  left:2px;
  top:14px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10759 {
  position:absolute;
  left:17px;
  top:67px;
  width:74px;
  height:24px;
}
#u10760 {
  position:absolute;
  left:2px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u10761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:240px;
}
#u10761 {
  position:absolute;
  left:1px;
  top:364px;
  width:359px;
  height:240px;
}
#u10762 {
  position:absolute;
  left:2px;
  top:112px;
  width:355px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:19px;
}
#u10763 {
  position:absolute;
  left:321px;
  top:71px;
  width:22px;
  height:19px;
}
#u10764 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
