body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10859 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
}
#u10860 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10861 {
  position:absolute;
  left:136px;
  top:13px;
  width:99px;
  height:25px;
}
#u10861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u10862 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u10863 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10864 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10865 {
  position:absolute;
  left:0px;
  top:74px;
  width:359px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10866 {
  position:absolute;
  left:18px;
  top:12px;
  width:323px;
  word-wrap:break-word;
}
#u10867 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u10868 {
  position:absolute;
  left:281px;
  top:84px;
  width:59px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u10868_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:24px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u10868.selected {
}
#u10869 {
  position:absolute;
  left:6px;
  top:4px;
  width:47px;
  word-wrap:break-word;
}
#u10870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u10870 {
  position:absolute;
  left:284px;
  top:85px;
  width:24px;
  height:21px;
}
#u10871 {
  position:absolute;
  left:2px;
  top:2px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10872 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10873 {
  position:absolute;
  left:0px;
  top:118px;
  width:359px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10874 {
  position:absolute;
  left:18px;
  top:12px;
  width:323px;
  word-wrap:break-word;
}
#u10875 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u10876 {
  position:absolute;
  left:278px;
  top:128px;
  width:62px;
  height:25px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u10876_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:35px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
  text-align:right;
}
#u10876.selected {
}
#u10877 {
  position:absolute;
  left:6px;
  top:4px;
  width:50px;
  word-wrap:break-word;
}
#u10878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u10878 {
  position:absolute;
  left:281px;
  top:130px;
  width:25px;
  height:22px;
}
#u10879 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10881 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10882 {
  position:absolute;
  left:0px;
  top:172px;
  width:359px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10883 {
  position:absolute;
  left:18px;
  top:12px;
  width:323px;
  word-wrap:break-word;
}
#u10884 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10885 {
  position:absolute;
  left:0px;
  top:216px;
  width:359px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10886 {
  position:absolute;
  left:18px;
  top:12px;
  width:323px;
  word-wrap:break-word;
}
#u10887 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u10888 {
  position:absolute;
  left:146px;
  top:172px;
  width:90px;
  height:35px;
  font-size:14px;
  text-align:left;
}
#u10888_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(217, 220, 226, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u10888.selected {
}
#u10888_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(248, 249, 251, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u10888.disabled {
}
#u10889 {
  position:absolute;
  left:20px;
  top:10px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u10890 {
  position:absolute;
  left:221px;
  top:192px;
  width:6px;
  height:4px;
}
#u10891 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u10892 {
  position:absolute;
  left:221px;
  top:184px;
  width:6px;
  height:4px;
}
#u10893 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10894 {
  position:absolute;
  left:154px;
  top:177px;
  width:57px;
  height:25px;
}
#u10894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u10896 {
  position:absolute;
  left:253px;
  top:172px;
  width:90px;
  height:35px;
  font-size:14px;
  text-align:left;
}
#u10896_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(217, 220, 226, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u10896.selected {
}
#u10896_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(248, 249, 251, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u10896.disabled {
}
#u10897 {
  position:absolute;
  left:20px;
  top:10px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u10898 {
  position:absolute;
  left:328px;
  top:192px;
  width:6px;
  height:4px;
}
#u10899 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u10900 {
  position:absolute;
  left:328px;
  top:184px;
  width:6px;
  height:4px;
}
#u10901 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10902 {
  position:absolute;
  left:261px;
  top:177px;
  width:57px;
  height:25px;
}
#u10902_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10903 {
  position:absolute;
  left:237px;
  top:172px;
  width:16px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10904 {
  position:absolute;
  left:0px;
  top:9px;
  width:16px;
  word-wrap:break-word;
}
#u10905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u10906 {
  position:absolute;
  left:143px;
  top:226px;
  width:90px;
  height:35px;
  font-size:14px;
  text-align:left;
}
#u10906_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(217, 220, 226, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u10906.selected {
}
#u10906_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(248, 249, 251, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u10906.disabled {
}
#u10907 {
  position:absolute;
  left:20px;
  top:10px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u10908 {
  position:absolute;
  left:218px;
  top:246px;
  width:6px;
  height:4px;
}
#u10909 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u10910 {
  position:absolute;
  left:218px;
  top:238px;
  width:6px;
  height:4px;
}
#u10911 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10912 {
  position:absolute;
  left:151px;
  top:231px;
  width:57px;
  height:25px;
}
#u10912_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10913 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u10914 {
  position:absolute;
  left:250px;
  top:226px;
  width:90px;
  height:35px;
  font-size:14px;
  text-align:left;
}
#u10914_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(217, 220, 226, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u10914.selected {
}
#u10914_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
  background:inherit;
  background-color:rgba(248, 249, 251, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:14px;
  text-align:left;
}
#u10914.disabled {
}
#u10915 {
  position:absolute;
  left:20px;
  top:10px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u10916 {
  position:absolute;
  left:325px;
  top:246px;
  width:6px;
  height:4px;
}
#u10917 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:4px;
}
#u10918 {
  position:absolute;
  left:325px;
  top:238px;
  width:6px;
  height:4px;
}
#u10919 {
  position:absolute;
  left:2px;
  top:-6px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10920 {
  position:absolute;
  left:258px;
  top:231px;
  width:57px;
  height:25px;
}
#u10920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10921_div {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10921 {
  position:absolute;
  left:234px;
  top:226px;
  width:16px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  text-align:center;
}
#u10922 {
  position:absolute;
  left:0px;
  top:9px;
  width:16px;
  word-wrap:break-word;
}
#u10923 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
