body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u10634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u10634 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
}
#u10635 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10636_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:124px;
}
#u10636 {
  position:absolute;
  left:113px;
  top:67px;
  width:130px;
  height:124px;
}
#u10637 {
  position:absolute;
  left:2px;
  top:54px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10638_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u10638 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u10639 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10640 {
  position:absolute;
  left:137px;
  top:13px;
  width:86px;
  height:25px;
}
#u10640_input {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10641 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10642 {
  position:absolute;
  left:0px;
  top:249px;
  width:359px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10643 {
  position:absolute;
  left:18px;
  top:12px;
  width:323px;
  word-wrap:break-word;
}
#u10644_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u10644 {
  position:absolute;
  left:325px;
  top:261px;
  width:18px;
  height:20px;
  opacity:0.6;
  font-family:'iconfont Regular', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#989898;
}
#u10645 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10646 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10647_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10647 {
  position:absolute;
  left:0px;
  top:294px;
  width:359px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10648 {
  position:absolute;
  left:18px;
  top:12px;
  width:323px;
  word-wrap:break-word;
}
#u10649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u10649 {
  position:absolute;
  left:325px;
  top:306px;
  width:18px;
  height:20px;
  opacity:0.6;
  font-family:'iconfont Regular', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#989898;
}
#u10650 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10651 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10652 {
  position:absolute;
  left:0px;
  top:337px;
  width:359px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10653 {
  position:absolute;
  left:18px;
  top:12px;
  width:323px;
  word-wrap:break-word;
}
#u10654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
}
#u10654 {
  position:absolute;
  left:325px;
  top:349px;
  width:18px;
  height:20px;
  opacity:0.6;
  font-family:'iconfont Regular', 'iconfont';
  font-weight:500;
  font-style:normal;
  font-size:48px;
  color:#989898;
}
#u10655 {
  position:absolute;
  left:2px;
  top:2px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10656 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(235, 235, 235, 1);
  border-left:0px;
  border-right:0px;
  border-bottom:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10657 {
  position:absolute;
  left:0px;
  top:205px;
  width:359px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#656565;
  text-align:left;
}
#u10658 {
  position:absolute;
  left:18px;
  top:12px;
  width:323px;
  word-wrap:break-word;
}
#u10659 {
  position:absolute;
  left:253px;
  top:259px;
  width:62px;
  height:25px;
}
#u10659_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10660 {
  position:absolute;
  left:219px;
  top:215px;
  width:106px;
  height:25px;
}
#u10660_input {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u10661 {
  position:absolute;
  left:281px;
  top:301px;
  width:44px;
  height:25px;
}
#u10661_input {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
