body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1725_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1725 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
}
#u1726 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1727 {
  position:absolute;
  left:136px;
  top:13px;
  width:113px;
  height:25px;
}
#u1727_input {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u1728 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u1729 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u1731 {
  position:absolute;
  left:67px;
  top:68px;
  width:62px;
  height:59px;
}
#u1732 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1733 {
  position:absolute;
  left:75px;
  top:143px;
  width:62px;
  height:25px;
}
#u1733_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:59px;
}
#u1735 {
  position:absolute;
  left:214px;
  top:68px;
  width:62px;
  height:59px;
}
#u1736 {
  position:absolute;
  left:2px;
  top:22px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1737 {
  position:absolute;
  left:219px;
  top:143px;
  width:62px;
  height:25px;
}
#u1737_input {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 207, 226, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1738 {
  position:absolute;
  left:88px;
  top:218px;
  width:193px;
  height:36px;
  font-size:14px;
  color:#FFFFFF;
}
#u1738_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 218, 236, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1738.mouseOver {
}
#u1738_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:36px;
  background:inherit;
  background-color:rgba(0, 194, 210, 1);
  border:none;
  border-radius:50px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u1738.mouseDown {
}
#u1739 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  word-wrap:break-word;
}
