body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8945 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
}
#u8946 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8947 {
  position:absolute;
  left:142px;
  top:13px;
  width:73px;
  height:25px;
}
#u8947_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u8948 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u8949 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8950 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:604px;
}
#u8951 {
  position:absolute;
  left:2px;
  top:294px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8952 {
  position:absolute;
  left:156px;
  top:13px;
  width:73px;
  height:25px;
}
#u8952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:24px;
}
#u8953 {
  position:absolute;
  left:14px;
  top:13px;
  width:13px;
  height:24px;
}
#u8954 {
  position:absolute;
  left:2px;
  top:4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8955 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
}
#u8956 {
  position:absolute;
  left:240px;
  top:47px;
  width:120px;
  height:19px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
}
#u8957 {
  position:absolute;
  left:16px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u8958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 142, 233, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
}
#u8958 {
  position:absolute;
  left:120px;
  top:47px;
  width:120px;
  height:19px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#108EE9;
}
#u8959 {
  position:absolute;
  left:16px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u8960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:19px;
  background:inherit;
  background-color:rgba(16, 142, 233, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(16, 142, 233, 1);
  border-right:0px;
  border-radius:6px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8960 {
  position:absolute;
  left:0px;
  top:47px;
  width:120px;
  height:19px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u8961 {
  position:absolute;
  left:16px;
  top:2px;
  width:88px;
  word-wrap:break-word;
}
#u8962 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:60px;
}
#u8963 {
  position:absolute;
  left:33px;
  top:183px;
  width:93px;
  height:60px;
}
#u8964 {
  position:absolute;
  left:2px;
  top:22px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8965 {
  position:absolute;
  left:136px;
  top:183px;
  width:68px;
  height:25px;
}
#u8965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8966 {
  position:absolute;
  left:258px;
  top:183px;
  width:102px;
  height:25px;
}
#u8966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8967 {
  position:absolute;
  left:137px;
  top:210px;
  width:88px;
  height:24px;
}
#u8967_input {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:24px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:345px;
  height:1px;
}
#u8968 {
  position:absolute;
  left:14px;
  top:252px;
  width:345px;
  height:1px;
}
#u8969 {
  position:absolute;
  left:2px;
  top:-8px;
  width:341px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8970 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:60px;
}
#u8971 {
  position:absolute;
  left:34px;
  top:103px;
  width:96px;
  height:60px;
}
#u8972 {
  position:absolute;
  left:2px;
  top:22px;
  width:92px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8973 {
  position:absolute;
  left:139px;
  top:103px;
  width:70px;
  height:25px;
}
#u8973_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8974 {
  position:absolute;
  left:267px;
  top:103px;
  width:90px;
  height:25px;
}
#u8974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:9px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8975 {
  position:absolute;
  left:140px;
  top:130px;
  width:89px;
  height:24px;
}
#u8975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:24px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#666666;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:1px;
}
#u8976 {
  position:absolute;
  left:14px;
  top:172px;
  width:346px;
  height:1px;
}
#u8977 {
  position:absolute;
  left:2px;
  top:-8px;
  width:342px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8978 {
  position:absolute;
  left:10px;
  top:125px;
  width:17px;
  height:16px;
}
#u8979 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8978_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8980 {
  position:absolute;
  left:10px;
  top:205px;
  width:17px;
  height:16px;
}
#u8981 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8980_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8982 {
  position:absolute;
  left:10px;
  top:573px;
  width:161px;
  height:25px;
}
#u8982_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8982.selected {
}
#u8983 {
  position:absolute;
  left:2px;
  top:4px;
  width:157px;
  word-wrap:break-word;
}
#u8984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8984 {
  position:absolute;
  left:187px;
  top:573px;
  width:163px;
  height:25px;
}
#u8984_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:25px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8984.selected {
}
#u8985 {
  position:absolute;
  left:2px;
  top:4px;
  width:159px;
  word-wrap:break-word;
}
